<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<head>Register</head>
	<nav>
		<a href="https://www.google.com">Click here</a>
	</nav>
	<footer>
		<p>By Denise Liu</p>
	</footer>
	<p title="Register for a license">Register</p>

	<div class="form">
		<form method="GET">
			First Name:<input type="text" name="firstname"><br>
			Last Name: <input type="text" name="lastname"><br>
			Email: <input type="Email" name="email" required><br>
			Password: <input type="password" name="password" min="5"><br>
			Birthday: <input type="date" name="birthday"><br>
			gender: <br>
			<input type="radio" name="gender" value="female">Female<br>
			<input type="radio" name="gender" value="male">Male<br>
			<input type="radio" name="gender" value="other">Other<br>
			Pets: <br>
			<input type="checkbox" name="cat">Cat<br>
			<input type="checkbox" name="dog">Dog<br>
			Cars: <br>
			<select name="cars">
				<option value="BMW" name="bmw">BMW</option>
				<option value="Mercedes" name="mercedez">Mercedes</option>
			</select><br>
		</form><br>
		<input type="submit" value="Register">
		<input type="reset">
	</div>

	<div class="table">
		<table style="width:100%">
  		<tr>
   			<th>Name:</th>
   			<td>Bill Gates</td>
  		</tr>
  		<tr>
   			<th rowspan="2">Telephone:</th>
    		<td>55577854</td>
  		</tr>
  		<tr>
    		<td>55577855</td>
  			</tr>
		</table>
	</div>

	<a href="index.html">Go back</a>
</body>
</html>

